language: python
python: 2.7
install:
  - pip install tox
  - pip install coveralls
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
  - TOX_ENV=py32
  - TOX_ENV=py33
  - TOX_ENV=coverage27
  - TOX_ENV=coverage33
script:
  - tox -e $TOX_ENV
after_success:
  - coveralls
