include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include fuzzysearch/kmp.h
include fuzzysearch/memmem.h
include fuzzysearch/_substitutions_only_lp_template.h
include fuzzysearch/_substitutions_only_ngrams_template.h
include fuzzysearch/wordlen_memmem.h
